{% extends 'Eshop/base.html' %}

{% block content %}

<div class="container">
    <div class="products">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <a style="text-decoration: none;" href=""></a>
                <div class="card">
                    <img src="{{product.product_image.url}}" style="aspect-ratio: 1/1; width: 600px;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card-title">
                    <h1 class="card-title" style="text-align:left; padding-left: 15px;">
                        {{product.product_name}}
                    </h1>
                    <p class="card-text"><span style="text-align: left; font-size: larger; padding-left: 15px;"><b>Rs.
                                {{product.selling_price}}</b></span><span
                            style="text-align: left; padding-left: 15px;"><s>Rs.
                                {{product.original_price}}</s></span></p>
                </div>
                <div class="input-group mx-auto" style="width: 150px; ">
                    <button class="input-group-text bg-light text-dark"><i class="fa-solid fa-plus"></i></button>
                    <input type="text" name="" id="" value="" class="form-select text-danger">
                    <button class="input-group-text bg-light text-dark" name="" id=""><i
                            class="fa-solid fa-minus"></i></button>
                </div>
                <div class="row">
                    <div class="col" style="padding: 10px; width: 100%;">
                        <botton class="btn btn-outline-primary"><a href="{% url 'cart' product.id%}"><span
                                    style="text-align: left;">Add to
                                    Cart</a></span></botton>
                    </div>
                    <div class="col" style="padding: 10px;">
                        <button class="btn btn-outline-primary mx-auto"><a href="#">Buy Now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}